<header class="px-3 py-2 w-full flex flex-col gap-2  shadow bg-white dark:bg-slate-700 dark:text-white">
    <div class="flex items-center justify-between gap-2">
        <div class="flex gap-2 items-center">
            <button (click)="openNav()" class="block md:hidden w-10 h-10 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6 m-auto">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
            <h1 class="text-center whitespace-nowrap uppercase text-4xl md:text-5xl font-light">
                <a routerLink="/home"><span class="text-green-blue">Ng</span><span
                        class="text-mikado-yellow">S</span></a>
            </h1>
        </div>
        <app-search-bar class="w-3/4"></app-search-bar>
        <app-toggle-dark-mode-button [darkMode]="darkMode"
            (onToggleTheme)="toggleTheme($event)"></app-toggle-dark-mode-button>

    </div>
</header>