<div class="h-screen flex flex-col">
    <div class="flex items-center gap-1">
        <button class="block md:hidden btn-icon" (click)="toggle()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
            </svg>

        </button>
        <h2 class="text-3xl md:text-4xl">Chats</h2>
    </div>
    <hr>
    <div class="relative mt-2 flex gap-5 h-3/4">
        <app-chats-list (hideChatsListEvent)="toggle()" [chats]="chats$" *ngIf="openedChatsList || isMediumBreakpoint"
            class="absolute top-0 left-0 z-10 w-full md:static md:w-1/3 h-full"></app-chats-list>
        <div class="w-full h-full">
            <router-outlet></router-outlet>
        </div>
    </div>