<app-dialog class="h-full" *ngIf="data.commentsState| async as state" title="Comments">
    <h4 class="text-xl text-end mr-3">Number of comments: {{state.pagination.count}}</h4>
    <div class="overflow-y-auto flex flex-col items-center gap-2 px-4 py-2" infiniteScroll>
        <ng-container *ngIf="!state.loading; else loading">
            <ng-container *ngIf="state.comments.length > 0; else noComments">
                <app-comment class="w-full md:w-3/4 lg:w-1/2" *ngFor="let comment of state.comments"></app-comment>
            </ng-container>
            <ng-template #noComments>
                <h3 class="text-center text-lg font-bold">No comments yet</h3>
            </ng-template>
        </ng-container>
        <ng-template #loading>
            <app-loader></app-loader>
        </ng-template>
    </div>
    <app-new-message (onSend)="sendMessage($event)" class="mt-auto bg-white dark:bg-slate-700 "></app-new-message>
</app-dialog>