<div class="flex justify-center gap-2 pb-2">
    <app-comments (onCloseComments)="closeComments()" @slide *ngIf="showCommentsComponent$ | async"
        class="hidden md:block w-[40%] h-[85vh]"></app-comments>
    <ng-container *ngIf="posts$ | async as posts; else loading">
        <app-posts-list (onPostListScroll)="onPostsScroll(posts.count)" (onOpenImageSlider)="openImagesSlider($event)"
            (onOpenComments)="openComments($event)" [posts]="posts.result"
            class="w-full md:w-[60%] h-[85vh]"></app-posts-list>
    </ng-container>
    <ng-template #loading>
        <app-loader class="h-[85vh]"></app-loader>
    </ng-template>
</div>
<app-add-new-post-button></app-add-new-post-button>