<div class="flex justify-center gap-2 pb-2">
    <ng-container *ngIf="posts$ | async as posts; else loading">
        <app-posts-list (onReactionAdd)="reactionAdd($event)" (onReactionChange)="reactionChange($event)"
            (onPostListScroll)="onPostsScroll(posts.count)" (onOpenImageSlider)="openImagesSlider($event)"
            (onOpenComments)="openComments($event)" [posts]="posts.result"
            class="w-full md:w-3/5 h-screen"></app-posts-list>
    </ng-container>
    <ng-template #loading>
        <app-loader class="h-screen"></app-loader>
    </ng-template>
</div>
<button (click)="openNewPostDialog()" class="fixed bottom-4 right-2 p-2 btn-outline text-center justify-center">
    New post
</button>