<form [formGroup]="newPostForm" (ngSubmit)="submit()" class="flex flex-col border rounded shadow h-full py-2">
    <h2 class="text"></h2>
    <textarea (keyup)="setCursorPosition($event)" (mouseup)="setCursorPosition($event)" formControlName="postText"
        class="overflow-hidden w-full h-3/4 outline-none bg-white dark:bg-slate-600 resize-none px-2"
        placeholder="Add new post..." name="description" id="description"></textarea>
    <hr>
    <div class="self-end flex gap-1 p-2">
        <button type="button" (click)="open()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
            </svg>
        </button>
        <button type="button" (click)="addFile.click()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13" />
            </svg>
        </button>
        <input #addFile class="hidden border-none p-2" type="file" name="files" id="files" multiple>
    </div>
    <hr>
    <button type="submit" class="self-center btn-primary mt-2">Publish</button>
</form>
<div *ngIf="emojiOpened"
    class="z-40 fixed top-0 left-0 h-screen w-full bg-black bg-opacity-50 flex justify-center items-center">
    <!-- <button class="btn-primary absolute top-5 right-5" (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button> -->
    <div class="h-full w-full absolute top-0 left-0" (click)="close()"></div>
    <emoji-mart class="z-10" (emojiClick)="addEmoji($event)"></emoji-mart>
</div>