<form class="flex flex-col gap-2">
    <div class="flex flex-col">
        <label for="newEmail">E-mail</label>
        <input type="text" name="newEmail" id="newEmail">
    </div>
    <div class="flex justify-between gap-2">
        <div class="w-1/2 flex flex-col">
            <label for="firstname">First name</label>
            <input type="text" name="firstname" id="firstname">
        </div>
        <div class="w-1/2 flex flex-col">
            <label for="lastname">Last name</label>
            <input type="text" name="lastname" id="lastname">
        </div>
    </div>
    <div class="flex flex-col">
        <label for="birthDate">Birth date</label>
        <input type="date" name="birthDate" id="birthDate">
    </div>

    <div class="flex flex-col">
        <label for="newPassword">New password</label>
        <input autocomplete="new-password" type="password" name="newPassword" id="newPassword">
    </div>
    <button class="btn self-center">Sign-Up</button>
</form>