<div class="h-full flex flex-col">
    <div class="p-2 w-full flex items-center justify-between border-b">
        <div class="w-6 h-6"></div>
        <h1 class="text-center text-2xl font-bold ">{{title}}</h1>
        <button (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6">
                <path
                    d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>
        </button>
    </div>
    <ng-content></ng-content>
</div>