<div
    class="h-full w-full border-2 border-r-0 rounded rounded-r-none shadow-lg flex flex-col gap-2 bg-white dark:bg-slate-700 text-black dark:text-white">
    <div class="sticky bg-white dark:bg-slate-700 z-10 px-5 pt-3 pb-1 top-0 w-full flex gap-2">
        <app-search-bar class="w-full"></app-search-bar>
        <button (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path
                    d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
            </svg>

        </button>
    </div>
    <app-people-list class="mx-5 mb-2"></app-people-list>
</div>