/* You can add global styles to this file, and also import other style files */
@import "@ctrl/ngx-emoji-mart/picker";
@import "ngx-toastr/toastr";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Abel";
  src: local("Oxygen"), url(./assets/fonts/Abel-Regular.ttf) format("truetype");
}
@layer base {
  html {
    font-family: "Abel";
  }
}
@layer components {
  input {
    @apply p-1 border-2 border-buff rounded focus:border-tea-green outline-none transition;
  }
  .info-link {
    @apply flex gap-1 p-4 rounded-full shadow bg-beige text-base w-auto;
  }
  .btn-primary {
    @apply flex items-center gap-1 p-2 rounded-lg shadow text-sm md:text-lg bg-tea-green hover:bg-buff hover:text-white transition;
  }
  .btn-outline {
    @apply flex items-center gap-1 p-1 rounded-lg shadow text-sm md:text-lg border-2 border-tea-green hover:text-buff hover:border-buff transition;
  }
  .btn-icon {
    @apply hover:text-buff transition-colors;
  }
  .btn-arrow {
    @apply p-2 hover:scale-125 hover:bg-buff hover:text-white transition  bg-tea-green shadow-lg rounded-full;
  }
  .form-error {
    @apply text-red-700;
  }
  .tag {
    @apply p-1 border rounded-full shadow bg-cornsilk text-sm md:text-base;
  }
  .thumbnail {
    @apply rounded-full shadow overflow-hidden w-10 h-10;
  }
  .message {
    @apply max-w-[90%] md:max-w-[55%] flex-1 p-2 flex flex-col justify-between rounded-xl border-2 shadow;
  }
}
