<form [formGroup]="loginForm" (ngSubmit)="submit()" class="flex flex-col gap-2">
    <app-form-control>
        <label label for="username">Username</label>
        <input input formControlName="username" autocomplete="username" X type="text" name="username" id="username">
        <app-form-error error *ngIf="username && username.hasError('required')">Username is required</app-form-error>
    </app-form-control>
    <app-form-control>
        <label label for="password">Password</label>
        <input input formControlName="password" autocomplete="current-password" type="password" name="password"
            id="password">
    </app-form-control>
    <button class="btn-outline self-center" type="submit">Sign-In</button>
</form>